@import url('https://fonts.googleapis.com/css?family=Sniglet');

html {
	background: linear-gradient(
	60deg,
    #f29e30,
    #fff58e
    ) fixed;
}

p, h1, h3, button {
	font-family: "Sniglet", serif;
	text-align: center;
}

#box-1 {
    background-color: #f9f986;
    width: 60%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 40px 0px 40px 0px;
    border-radius: 30em;
    text-align: center;
}


input {
	height: 40px;
	width: 50px;
	text-align: center;
	font-size: 30px;
}

button {
	margin-top: 10px;
	height: 40px;
	width: 100px;
	border-radius: 10px;
	background-size: 42px 42px;
	background-color: #e0607c;
	border: none;
	font-size: 13px;
}
